script(type="text/x-template")#preview-container
  .works-preview 
    display(
      :isEnd='isEnd'
			:isBegin='isBegin'
      :currentWork="currentWork",
      :works="works",
      :currentIndex="currentIndex",
      @slide="slide", 
    )
    info(
      :currentWork="currentWork"
    )

script(type="text/x-template")#preview-display
  .works-preview__pictures(:data-slide="currentIndex + 1")
    .works-preview__pictures-content
      .works-preview__pictures-container
        img(:src="currentWork.photo").works-preview__full-pic
      .works-preview__thumbs
        thumbs(:works="Works"
        :currentWork="currentWork"
        :currentIndex="currentIndex"
          @slide="$emit('slide', $event)"
          ref="thumb-container"
        )
      .works-preview__btns
        btns(
          :isEnd='isEnd'
			    :isBegin='isBegin'
          @slide="$emit('slide', $event)"
        )

script(type="text/x-template")#preview-thumbs
  ul(
      ref="thumbs-container"
      
    ).thumbs
    li.thumbs__item(
      v-for="(slide, index) in works" :key="slide.id"
      :class="{active: currentWork.id == slide.id}" 
      @click="$emit('slide', index)"
      )
      button(
        type="button"

        ).thumbs__btn
        img(:src="slide.photo").thumb

script(type="text/x-template")#preview-btns
  .square-btns
    button(
      :disabled="isEnd"
      type="button"
      @click= "$emit('slide', 'next')"
      ).square-btns__item.square-btns__item--next 
      +icon('arrow-down', 'arrow-next')              
    button(
      :disabled="isBegin"
      type="button"
      @click="$emit('slide', 'prev')"
      ).square-btns__item.square-btns__item--prev
      +icon('arrow-down', 'arrow-prev')

script(type="text/x-template")#preview-info
  .works-preview__info
    .works-preview__tags
      tags(
        :tags="tagsArray"
      )
    .works-preview__title {{currentWork.title}}
    .works-preview__desc 
      p {{currentWork.description}}
    .works-preview__link  
      a(:href="currentWork.link" target="_blank").iconed-link 
        .link-icon__wrapper
          +icon("link", "link-icon") 
        div Посмотреть сайт

script(type="text/x-template")#preview-tags
  ul.tags
    li.tags__item(v-for="tag in tags")
      .tag {{tag}}