extends ./main.layout.pug


block content
  .welcome-section
        section.hero
          .container.hero__container
            header.header
              .logo-wrapper
                h3.logo ВА
              +menu('menu',["Обо мне", "Навыки", "Работы", "Отзывы"]) 
              .socials
                  ul.socials__list
                    each social in ['insta', 'vk', 'github', 'envelope']
                      li.socials__item
                        a(href="#" class=`socials__link .social__link_${social}`)
                          +icon(`${social}`, 'social-icon')
            .hero__title
              p Личный сайт #[br] веб разработчика              
              h1.hero__title-text Владимир Астаханов


            .scroll__btn
              a(href="#" class='scroll__btn-text') Скролл
                span.arrow-wrapper
                  +icon('scroll', 'scroll-down')
        section.about-section
            .container.about__container
              .about__user
                .user
                  .user__avatar
                    .user__avatar-style
                      +image('content/user.jpg', 'user-pic')
                  table.basic-data
                    each item in obj
                      tr.basic__data-row
                        td.category #{item[0]}
                        td.value #{item[1]}
              .portfolio__desc
                    .greetings Привет, меня зовут 
                    .object-name Владимир Астаханов
                    .about Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
                    .footnote Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
  .middle-section
    section.values
      .container.values__container
        .values__title 
          .values__title-text Чем я могу быть полезен вам
          .values__content
            p Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!    
        .values__widget
          -
            var skillCategories = [
              ["Frontend", ["HTML","CSS","javascript","Vue"]],
              ["Workflow", ["GIT","Terminal","Gulp","Webpack"]],
            ];
          ul.skills
            each category in skillCategories
              li.skills__item
                .skills-row 
                  .skills-row__title #{category[0]}
                    ul.skills-row-list
                      each skill in category[1]
                        li.skills-row__item
                          .skill
                            svg(viewBox="0 0 100 100").skill__circle-shape
                              circle(cx="50" cy="50" r="40").skill__circle.skill__circle--layer--under
                              circle(cx="50" cy="50" r="40" stroke="url(#gradient)" transform="rotate(180 50 50)").skill__circle.skill__circle--layer--above
                              linearGradient(id="gradient" x1="0%" y1="0%" x2="100%" y2="0%")
                                stop(offset="0%" stop-color="#5500f2")
                                stop(offset="100%" stop-color="#8f00ef")
                            .skill__title #{skill}
    section.works 
      .container
        .section-title Мои Работы
        .works__content 
          .works-preview
            .works-preview__pictures
              +image("content/preview_1.jpg")
              .works-preview__thumbs
                ul.thumbs
                  - for (var i = 1; i < 4; i++)
                    li.thumbs__item 
                      a(href="").thumbs__link
                        +image(`content/preview_${i}.jpg`,"thumb")               
              .works-preview__btns
                .square-btns
                  button(type="buttons").square-btns__item.square-btns__item--next 
                    +icon('arrow-down', 'arrow-next')              
                  button(type="buttons").square-btns__item.square-btns__item--prev
                    +icon('arrow-down', 'arrow-prev')               
            .works-preview__info
              - var tags = ["HTML","CSS","JavaScript"] 
              ul.tags
              each item in tags
                li.tags__item
                  .tag #{item}         
              .works-preview__title Сайт школы образования
              .works-preview__desc 
                p Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!
              a(href="").iconed-link Посмотреть сайт


                          
                    
                    
        

