extends ./main.layout.pug


block content
  .maincontent 
    .welcome-section
      section.hero#hero
        .container.hero__container
          header.header
            .logo-wrapper
              h3.logo ИФ
            -
              var menu = [
                {href: '#about', text:'Обо мне'},
                {href: '#values', text:'Навыки'},
                {href: '#works', text:'Работы'},
                {href: '#reviews', text:'Отзывы'},
              ]  
            +menu('header-menu', menu)
            .socials
              -
                var socials = [
                  {href: 'https://instagram.com/', text:'insta'},
                  {href: 'https://vk.com/', text:'vk'},
                  {href: 'https://github.com/', text:'github'},
                  {href: 'https://mail.google.com/', text:'envelope'},
                ]
              ul.socials__list
                each social in socials
                  li.socials__item
                    a(href=`${social.href}` class=`socials__link .social__link_${social.text}` target='_blank')
                      +icon(`${social.text}`, 'social-icon')  
            .hamburger
              .hamburger-wrapper
                a(href="#").hamburger-menu__link
                  +image('content/menu.png', 'hamburger-icon' )            
          .hero__title
            .hero__title-content
              p Личный сайт #[br] веб разработчика              
              h1.hero__title-text Иван #[br] Филатов


          .scroll__btn
            .scroll__btn-wrapper
              a(href="#about" class='scroll__btn-link') Скролл #[span.arrow-wrapper: +icon('scroll', 'scroll-down')]


      section.about-section#about
        .container.about__container
          .about__user-wrapper
            .about__user
              .user
                .user__avatar
                  .user__avatar-style
                    +image('content/me.jpg', 'user-pic')
                table.basic-data
                  each item in obj
                    tr.basic__data-row
                      td.category #{item[0]}
                      td.value #{item[1]}
            .portfolio__desc
              .portfolio__desc-content
                p.greetings Привет, меня зовут 
                h2.object-name Иван Филатов
                p.about Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
                p.footnote Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
    .middle-section
      .triangle
        svg(viewBox="0 0 1000 140" preserveAspectRatio="none").triangle__shape
          polygon(points="0,0 0,70 800,140 1000,70 1000,0")
      section.values#values
        .container.values__container
          .values__wrapper
            .values__title
              .values__title-container 
                h3.values__title-text Чем я могу быть полезен вам
                .values__content
                  p Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!    
            .values__widget
              .values__widget-container
                #skills-component

      section.works#works 
        .container
          .section-title.works-title Мои Работы
          .works__content 
            #preview-component  


      section.reviews#reviews
        .container
          .reviews__content-wrapper
            #slider-component

  footer.footer 
    .container.footer__container
      .footer__content-block
        .footer__sign
          .footer__col
            .footer__year © 2020
          .footer__user-info
            p.footer__name ИВАН ФИЛАТОВ
            p.footer__personal-site Личный сайт веб-разработчика
        .footer__content
          +menu('footer-menu',menu)
          .footer__content-wrapper  
            .footer__social-block
              .footer__socials-block__text Этот сайт я сделал в рамках обучения в Школе онлайн образования Loftschool 
              .footer__socials
                ul.socials__list
                  each social in socials
                    li.socials__item.footer__socials-item
                      a(href=`${social.href}` class=`footer__socials-link .social__link_${social.text}` target='_blank')
                        +icon(`${social.text}`, 'social__icon footer__social-icon')                        
            .footer__quote
              p.footer__quote-text Всегда пишите код так, будто сопровождать его будет склонный к насилию психопат, который знает где вы живете
              p.footer__quote-author Martin Golding       
  .full-menu
    .background-block
      .logo-wrapper-full-menu
        h3.logo-wrapper-text ИФ
    
      .content-block
        .content-block-wrapper
          .close-wrapper
            button.close-btn
              +image('content/close.png', 'close-icon')
          .menu-wrapper
            -
              var menu = [
                {href: '#about', text:'Обо мне'},
                {href: '#values', text:'Навыки'},
                {href: '#works', text:'Работы'},
                {href: '#reviews', text:'Отзывы'},
              ]  
            +menu('full-menu__nav', menu)
          .socials-wrapper
            -
              var socials = [
                {href: 'https://instagram.com/', text:'insta'},
                {href: 'https://vk.com/', text:'vk'},
                {href: 'https://github.com/', text:'github'},
                {href: 'https://mail.google.com/', text:'envelope'},
              ]
            ul.socials__list
              each social in socials
                li.socials__item.socials__item-full-menu
                  a(href=`${social.href}` class=`socials__link .social__link_${social.text}` target='_blank')
                    +icon(`${social.text}`, 'social-icon-full-menu') 






